* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 700px;
  height: 500px;
  border: 2px solid black;
  position: relative;
}

.square {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  cursor: pointer;
}
